extends email-layout.pug 

block content 
   .title 
      h2 #{title}
   .content 
      p Please authenticate your registration on AZRIN.DEV by clicking the url below;
      a(href="#{uri}") #{uri}
      