extends email-layout.pug 

block content 
   .title 
      h2 #{title}
   .content 
      p Thank you for your registration on our website.
      p We need to verify that you are people and need to authenticate your email. Please authenticate your registration on AZRIN.DEV by clicking the url below to continue registration;
      .link
         a(href=`#{uri}`) Authenticate Email
      