doctype html
html
   head
      meta(name='viewport', content='width=device-width')
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      style
         include email-style.css
    
   body
      .header         
         img(src='/home/azrin/project/azrin_dev/src/assets/logo_icons/logo.png')
      .body
         block content
      .footer
         p Copyright (c) 2017, www.azrin.dev