.profile{
   overflow: auto;   
}

.timeline{
   width: 60%;
   min-height: 400px;
   height: 77vh;  
   padding: 5px;    
}

.sidebar{
   width: 40%;
   overflow: hidden; 
   top: 3px;
   position: sticky;
   position: -webkit-sticky; 
   padding: 5px;   
}

.card{
   height: 82vh;   
}
