.profile{
   overflow: auto;
   padding: 5px;
}

.timeline{
   width: 60%;
   min-height: 400px;
   height: 77vh;      
}

.sidebar{
   width: 40%;
   overflow: hidden; 
   top: 3px;
   position: sticky;
   position: -webkit-sticky;   
}

.card{
   height: 82vh;   
}
