
.timeline{
   width: 60%;
   padding: 5px; 
   min-height: 400px;
   height: 90vh;     
}

.sidebar{
   width: 40%;
   padding: 1px; 
   overflow: hidden;
   top: 5px;
   position: sticky;
   position: -webkit-sticky;   
}

.card{
   height: 82vh;   
}
