.profile{
   position: relative;

}

.timeline{
   padding: 10px;
   left: 0;
   position: fixed;
}

.sidebars{
   z-index: 5;
   right: 5px;
   top: 5px;
   bottom: 5px;
   position: fixed;
   overflow-x: hidden;
   height: 100vh;
}

.sidebar{
   padding: 10px;
}