.profile{
   overflow: auto;   
   margin-bottom: 10px;
}

.timeline{
   min-height: 400px;
   height: 85vh;  
   padding: 7px 5px 20px 5px; 

   &__card{
      margin-bottom: 10px;
   }
}

.sidebar{
   overflow: hidden; 
   top: 3px;
   position: sticky;
   position: -webkit-sticky; 
   padding: 5px 7px 5px 5px;   

   &__card{
      height: 50vh;
   }
}

