.profile{
   position: relative;
}


.timeline{
   padding-top: 10px;
   left: 49px;
   position: fixed;
   overflow-y: scroll;
}

.sidebars{
   padding-top: 10px;
   position: fixed;
   right: 5px;
}