.timeline{
   width: 60%;
   padding: 5px;   
   
}

.sidebar{
   height: 90vh;
   width: 40%;
   padding: 5px;   
   top: 0;
   position: sticky;
   overflow: hidden;
   position: -webkit-sticky;
}

.card{
   height: 90vh;
}
