.timeline{
   width: 60%;
   padding: 5px;
}

.sidebar{
   width: 40%;
   padding: 5px;
   display: block;
   position: -webkit-sticky;
   z-index: 5;
   overflow: hidden;

   &__card{
      position: sticky;
      top: 64px;
   }
}
