.timeline{
   width: 60%;
   padding: 5px;   
   
}

.sidebar{
   width: 40%;
   padding: 5px;   
   top: 0;
   position: sticky;
   
   position: -webkit-sticky;
}

.card{
   height: 85vh;
   overflow: hidden;
}
