<div class="lm__container-100p">

   <div class="nav">

      <div class="nav__toolbar">
         <mat-toolbar color="primary">  
               <span [ngClass]="{ 'lm__menu-logo shadow__text-left': !(isHandset$|async), 'lm__menu-logo-hp shadow__text-center': (isHandset$|async) }" routerLink="/">
                  {{ 'azrin.dev { top: sometime }' }}
               </span>
               <span></span>
               <span class="lm__menu-span-buttons" *ngFor="let link of links.public">
                  <button mat-icon-button  class="shadow__text-right" routerLink="{{ link.path }}" color="accent">
                     <mat-icon class="lm__menu-button-icon">
                        {{ link.data.icon }}
                     </mat-icon>
                  </button>
               </span>
         </mat-toolbar> 
      </div> 

      <div class="nav__sidenav">
         <mat-sidenav-container hasBackdrop="false"> 
            <mat-sidenav #drawer 
               [ngClass]="{ 'nav__sidenav-drawer': !sideNavIcon, 'nav__sidenav-drawer-icon': sideNavIcon}" 
               fixedInViewport
               attr.role="navigation" 
               [@fadeOut]="sideNavIcon"                  
               mode="over"
               [opened]="opened">
               
               <div class="nav__sidenav-drawer-menu" fxLayout="row" fxLayoutAlign="center center">
                     <div fxFlex="20" *ngIf="sideNavIcon">
                        <button class="nav__sidenav-button" mat-icon-button color="primary" (click)="toggleSidenav()">
                           <mat-icon>chevron_right</mat-icon>
                        </button>
                     </div>
                     <div class="nav__sidenav-drawer-menu-title" fxFlex="80" *ngIf="!sideNavIcon">Menu</div>
                     <div fxFlex="20" *ngIf="!sideNavIcon">
                        <button mat-icon-button (click)="toggleSidenav()">
                           <mat-icon  color="primary">close</mat-icon>
                        </button>
                     </div>
               </div>  
               <!-- Public menu -->
               <mat-nav-list >
                  <div class="links" *ngFor="let link of links.public">
                     <a mat-list-item routerLink="{{link.path}}" >
                        <mat-icon class="lm__icon" color="primary">{{ link.data.icon }}</mat-icon>
                        <div class="text" *ngIf="!sideNavIcon">{{ link.data.name }}</div>                        
                     </a> 
                  </div>
                  <div class="links" *ngIf="sideNavIcon">
                     <a mat-list-item >
                        <mat-icon class="lm__icon" color="primary">settings</mat-icon>                       
                     </a> 
                  </div>
               </mat-nav-list>
               <mat-divider></mat-divider>
               <!-- User menu -->
               <mat-expansion-panel *ngIf="!sideNavIcon">
                  <mat-expansion-panel-header >
                     <mat-panel-title>
                        <mat-icon class="lm__icon" color="primary">settings</mat-icon>
                        <span>Settings</span>
                     </mat-panel-title>
                  </mat-expansion-panel-header>                  
                  <mat-nav-list >
                     <div class="links" *ngFor="let link of links.user">
                        <a mat-list-item routerLink="{{link.path}}" >
                           <mat-icon class="lm__icon" color="primary">{{ link.data.icon }}</mat-icon>
                           <div class="text" *ngIf="!sideNavIcon">{{ link.data.name }}</div>                        
                        </a> 
                     </div>
                     <div class="links" *ngIf="sideNavIcon">
                        <a mat-list-item >
                           <mat-icon class="lm__icon" color="primary">settings</mat-icon>                       
                        </a> 
                     </div>
                  </mat-nav-list>             
               </mat-expansion-panel>
            </mat-sidenav>

            <mat-sidenav-content>

                     <!-- Add Content Here -->
                     <router-outlet></router-outlet> 

            </mat-sidenav-content>

         </mat-sidenav-container>
      </div>  

   </div>
</div>