<div class="lm__container-100vh">

   <div class="nav">

      <div class="nav__toolbar">
         <mat-toolbar color="primary">  
            <span class="lm__menu-span-logo" [ngClass]="{ 'shadow__text-left': !(isHandset$|async), 'shadow__text-center': (isHandset$|async) }" routerLink="/" matTooltip="Back to Home Page">
              <app-logo2rem-light></app-logo2rem-light>
            </span>
            <span class="lm__menu-span-filler" fxHide.xs></span>
            <span class="lm__menu-span-buttons" fxHide.xs>
               <button mat-icon-button  class="lm__menu-span-button shadow__text-right" *ngFor="let link of links.public" routerLink="{{ link.path }}" matTooltip="{{ link.data.tooltip }}">
                  <mat-icon class="lm__menu-span-button-icon">
                     {{ link.data.icon }}
                  </mat-icon>
               </button>
            </span>
            <span class="lm__menu-span-buttons" fxHide.xs>
               <button mat-icon-button  class="lm__menu-span-button shadow__text-right" *ngIf="profile" matTooltip="Logout" (click)="logout()">
                  <mat-icon class="lm__menu-span-button-icon">
                     person_add_disabled
                  </mat-icon>
               </button>
            </span>
         </mat-toolbar> 
      </div> 

      <div class="nav__sidenav">
         <mat-sidenav-container hasBackdrop="false"> 

            <mat-sidenav #drawer class="nav__drawer"    
               [ngClass]="{ 'nav__drawer-open': !sideNavIcon }"          
               fixedInViewport
               attr.role="navigation" 
               [@fadeOut]="sideNavIcon"                 
               mode="over"
               [opened]="opened"
            >       
               <div class="nav__drawer-menu" fxLayout="row" fxLayoutAlign="center center">
                     <div *ngIf="sideNavIcon">
                        <button mat-icon-button color="primary" (click)="toggleSidenav()">
                           <mat-icon>chevron_right</mat-icon>
                        </button>
                     </div>
                     <div class="nav__sidenav-drawer-menu-item" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="80" *ngIf="!sideNavIcon"><h2>Menu</h2></div>
                        <div fxFlex="20" *ngIf="!sideNavIcon">
                           <button mat-icon-button (click)="toggleSidenav()">
                              <mat-icon  color="primary">close</mat-icon>
                           </button>
                        </div>
                     </div>
               </div>  

               <!-- Public menu -->
               <mat-nav-list class="nav__drawer-links" fxLayout="column" fxLayoutAlign="start">

                  <div class="nav__drawer-link" *ngFor="let link of links.public">
                     <a mat-list-item class="list" routerLink="{{link.path}}" matTooltip="{{ link.data.tooltip }}" (click)="itemClicked()">
                        <mat-icon class="nav__drawer-link-icon" color="primary">
                           {{ link.data.icon }}
                        </mat-icon>
                        <div class="nav__drawer-link-text" *ngIf="!sideNavIcon">
                           {{ link.data.name }}
                        </div>                        
                     </a> 
                  </div>
                  <div *ngIf="!profile">
                     <div class="nav__drawer-link" *ngFor="let link of links.auth" >
                        <a mat-list-item class="list" routerLink="{{link.path}}" matTooltip="{{ link.data.tooltip }}" (click)="itemClicked()">
                           <mat-icon class="nav__drawer-link-icon" color="primary">
                              {{ link.data.icon }}
                           </mat-icon>
                           <div class="nav__drawer-link-text" *ngIf="!sideNavIcon">
                              {{ link.data.name }}
                           </div>                        
                        </a> 
                     </div>
                  </div>

                  <mat-divider *ngIf="sideNavIcon"></mat-divider>

                  <div class="nav__drawer-link" *ngIf="sideNavIcon">
                     <button class="nav__drawer-link-menu-button" mat-icon-button [matMenuTriggerFor]="menuSettings" color="primary">
                        <mat-icon class="nav__drawer-menu-link-icon" >
                           account_circle
                        </mat-icon>
                     </button>
                     <mat-menu #menuSettings="matMenu" >
                           <button mat-menu-item *ngFor="let link of links.user" routerLink="{{ link.path }}">
                              <mat-icon color="primary">
                                 {{ link.data.icon }}
                              </mat-icon>
                              {{ link.data.name }}
                           </button>
                     </mat-menu>
                  </div>

                  <mat-divider *ngIf="sideNavIcon"></mat-divider>

                  <div *ngIf="profile && profile.admin">
                     <div class="nav__drawer-link" *ngIf="sideNavIcon">
                        <button class="nav__drawer-link-menu-button" mat-icon-button [matMenuTriggerFor]="menuSettings" color="primary" >
                           <mat-icon class="nav__drawer-menu-link-icon" >
                              settings
                           </mat-icon>
                        </button>
                        <mat-menu #menuSettings="matMenu" >
                              <button mat-menu-item *ngFor="let link of links.admin"   routerLink="{{ link.path }}">
                                 <mat-icon color="primary">
                                    {{ link.data.icon }}
                                 </mat-icon>
                                 {{ link.data.name }}
                              </button>
                        </mat-menu>
                     </div>
                  </div>

               </mat-nav-list>

               <mat-divider></mat-divider>

               <!-- User menu -->
               <mat-expansion-panel *ngIf="!sideNavIcon">
                  <mat-expansion-panel-header >
                     <mat-panel-title>
                        <mat-icon class="lm__icon" color="primary">settings</mat-icon>
                        <span>Settings</span>
                     </mat-panel-title>
                  </mat-expansion-panel-header>                  
                  <mat-nav-list >
                     <div class="links" *ngFor="let link of links.user">
                        <a mat-list-item routerLink="{{link.path}}" >
                           <mat-icon class="lm__icon" color="primary">{{ link.data.icon }}</mat-icon>
                           <div class="text" *ngIf="!sideNavIcon">{{ link.data.name }}</div>                        
                        </a> 
                     </div>
                     <div class="links" *ngIf="sideNavIcon">
                        <a mat-list-item >
                           <mat-icon class="lm__icon" color="primary">settings</mat-icon>                       
                        </a> 
                     </div>
                  </mat-nav-list>             
               </mat-expansion-panel>

               <!-- Logout -->
               <mat-nav-list class="nav__drawer-links" fxLayout="column" fxLayoutAlign="start">
                  <div *ngIf="profile">
                     <div class="nav__drawer-link">
                        <a mat-list-item class="list" (click)="logout()">
                           <mat-icon class="nav__drawer-link-icon" color="primary">
                              person_add_disabled
                           </mat-icon>
                           <div class="nav__drawer-link-text" *ngIf="!sideNavIcon">
                              Logout
                           </div>                        
                        </a> 
                     </div>
                  </div>
               </mat-nav-list>

            </mat-sidenav>

            <mat-sidenav-content role="main" [@fadeOut]="!sideNavIcon">               
               <!-- Add Content Here -->
               <router-outlet></router-outlet>              
            </mat-sidenav-content>

         </mat-sidenav-container>
      </div>  

   </div>
   
   <app-footer></app-footer>
   
</div>