<div class="lm__container-100p">

   <div class="nav">

      <div class="nav__toolbar">
         <mat-toolbar color="primary" >   
            <div fxLayout="row" fxLayoutAlign="space-between center">        
               <div [ngClass]="{ 'lm__menu-logo shadow__text-left': !(isHandset$|async), 'lm__menu-logo-hp shadow__text-center': (isHandset$|async) }" 
                  routerLink="/">
                  {{ 'azrin.dev { top: sometime }' }}
               </div>
               <div class="lm__menu-div-buttons" fxLayout fxLayoutAlign="end">
                  <div class="lm__menu-div-button" *ngFor="let link of links.public" fxLayout="row wrap" fxLayoutAlign="center center">
                     <button class="lm__menu-button-icon" mat-icon-button  class="shadow__text-right" routerLink="{{ link.path }}" color="accent">
                        <mat-icon >{{ link.data.icon }}</mat-icon>
                     </button>
                  </div>
               </div>
            </div> 
         </mat-toolbar> 
      </div> 

      <div class="nav__sidenav">
         <mat-sidenav-container hasBackdrop="false"> 
            <mat-sidenav #drawer 
               [ngClass]="{ 'nav__sidenav-drawer': !sideNavIcon, 'nav__sidenav-drawer-icon': sideNavIcon}" 
               fixedInViewport
               attr.role="navigation" 
               [@fadeOut]="sideNavIcon"                  
               mode="over"
               [opened]="opened">
               <mat-toolbar>
                  <mat-toolbar-row fxLayout fxLayoutAlign="center center">
                     <span fxFlex="90" fxLayout fxLayoutAlign="start center" *ngIf="!sideNavIcon">Menu</span>
                     <span fxFlex="10" fxLayout fxLayoutAlign="center center" *ngIf="sideNavIcon">
                        <button mat-icon-button (click)="closeSidenav()">
                           <mat-icon  color="primary">chevron_right</mat-icon>
                        </button>
                     </span>
                     <span fxFlex="10" fxLayout fxLayoutAlign="center center" *ngIf="!sideNavIcon">
                           <button mat-icon-button (click)="closeSidenav()">
                              <mat-icon  color="primary">close</mat-icon>
                           </button>
                     </span>
                  </mat-toolbar-row>   
               </mat-toolbar>
               <!-- Public menu -->
               <mat-nav-list >
                  <div class="links" *ngFor="let link of links.public">
                     <a mat-list-item routerLink="{{link.path}}" >
                        <mat-icon class="lm__icon" color="primary">{{ link.data.icon }}</mat-icon>
                        <div class="text" *ngIf="!sideNavIcon">{{ link.data.name }}</div>                        
                     </a> 
                  </div>
                  <div class="links" *ngIf="sideNavIcon">
                     <a mat-list-item >
                        <mat-icon class="lm__icon" color="primary">settings</mat-icon>                       
                     </a> 
                  </div>
               </mat-nav-list>
               <mat-divider></mat-divider>
               <!-- User menu -->
               <mat-expansion-panel *ngIf="!sideNavIcon">
                  <mat-expansion-panel-header >
                     <mat-panel-title>
                        <mat-icon class="lm__icon" color="primary">settings</mat-icon>
                        <span>Settings</span>
                     </mat-panel-title>
                  </mat-expansion-panel-header>                  
                  <mat-nav-list >
                     <div class="links" *ngFor="let link of links.user">
                        <a mat-list-item routerLink="{{link.path}}" >
                           <mat-icon class="lm__icon" color="primary">{{ link.data.icon }}</mat-icon>
                           <div class="text" *ngIf="!sideNavIcon">{{ link.data.name }}</div>                        
                        </a> 
                     </div>
                     <div class="links" *ngIf="sideNavIcon">
                        <a mat-list-item >
                           <mat-icon class="lm__icon" color="primary">settings</mat-icon>                       
                        </a> 
                     </div>
                  </mat-nav-list>             
               </mat-expansion-panel>
            </mat-sidenav>

            <mat-sidenav-content>

                     <!-- Add Content Here -->
                     <router-outlet></router-outlet> 

            </mat-sidenav-content>

         </mat-sidenav-container>
      </div>  

   </div>
</div>