<div class="lm__container-100p">

   <div class="nav">

      <div class="nav__toolbar">
         <mat-toolbar color="primary">
            <button
               type="button"
               aria-label="Toggle sidenav"
               mat-icon-button
               (click)="drawer.toggle()"
               *ngIf="isHandset$ | async">
               <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>azrin.dev</span>
         </mat-toolbar>  
      </div> 

      <div class="nav__sidenav">
         <mat-sidenav-container class="sidenav-container"> 
            <mat-sidenav #drawer class="sidenav" fixedInViewport
                  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                  [mode]="(isHandset$ | async) ? 'over' : 'side'"
                  [opened]="(isHandset$ | async) === false">
               <mat-toolbar>
                  <mat-toolbar-row fxLayout fxLayoutAlign="center center">
                     <span fxFlex="70">Menu</span>
                     <span fxFlex="30"><mat-icon *ngIf="!(isHandset$ | async)" color="primary">chevron_left</mat-icon></span>
                     <span fxFlex="30"><mat-icon *ngIf="(isHandset$ | async)" color="primary">chevron_right</mat-icon></span>
                  </mat-toolbar-row>   
               </mat-toolbar>
               <mat-nav-list>
                  <a mat-list-item href="#">Link 1</a>
                  <a mat-list-item href="#">Link 2</a>
                  <a mat-list-item href="#">Link 3</a>
               </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>

               <!-- Add Content Here -->
               <router-outlet></router-outlet> 

            </mat-sidenav-content>
         </mat-sidenav-container>
      </div>  
            
   </div>
</div>