$white: #ffffff;
$primary: #fe4365;
$dark: #303030;

.nav{

   position: relative;

   &__toolbar{
      z-index: 10;
      position: fixed;
      width:100%;
      height: 64px; 
      border-bottom: 5px solid $dark;
   }

   &__sidenav{

      &-content{
         padding-top: 69px;
         padding-right: 5px;
         padding-left: 49px;
      }
   }

   &__drawer{

      padding-top: 64px;

      &-open{
         width: 250px;
      }

      &-menu{
        background-color: #303030;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      &-link-icon{
         padding-left: 10px;
         padding-right: 10px;
      }
   }
}

@media only screen and (max-width: 600px){   

   .nav{
      &__toolbar{
         height: 56px;
      }

      &__sidenav{
         &-content{
            padding-top: 61px;
         }
      }
   }

}