<div class="lm__page-min70vh-hidden" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center">
   
   <div fxFlex="40" fxHide.lt-md class="lm__page-sidebar" >
      <app-side-bar></app-side-bar>
   </div>

   <div fxFlex="60" class="lm__page-timeline">

      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="issues">

         <div class="lm__sales-issues" *ngFor="let issue of issues">
            <mat-card id="issue-{{ issue.id }}">
               <div  class="lm__sale-sect" 
                     fxLayout="column" 
                     fxLayoutAlign="center center"
                     fxLayoutGap="20px"
               >
                  <mat-card-title class="lm__sale-sect-title" [innerHTML]="issue.title">
                  </mat-card-title>
                  <img  class="lm__sale-sect-image shadow__png-ac" 
                        fxFlex="400px"
                        fxFlex.lt-md="50vw" 
                        src="assets/images/{{ issue.image }}" 
                        alt="{{ issue.title }}"
                  >
                  <button  mat-raised-button 
                           *ngIf="issues"
                           id="btn-{{issue.id}}"
                           color="primary"
                           (click)="onClick($event)"
                  >
                     Jika betul, klik butang ini 
                     <mat-icon>
                        touch_app
                     </mat-icon>
                  </button>
               </div>
            </mat-card>
         </div>

      </div>   

   </div>

   
</div>