/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import './app/scss/index.scss';
@import './assets/css/quill.snow.css';

html, body { height: 100%;}
body { margin: 0; font-family: Lato, Oswald, Roboto, "Helvetica Neue", sans-serif; }
.mat-list-item-content{
   padding-right: 0 !important; 
   padding-left: 0 !important; 
}
.mat-form-field-wrapper{
   width: 100% !important;
}

.mat-form-field-infix{
   width: 100% !important;
}

.ck-editor__editable_inline {
   min-height: 500px;
  color: #303030;
}

.angular-editor-toolbar{
   background-color: transparent;
}


