extends email-layout.pug 

block content 
   .title 
      h2.primary #{title}
   .content 
      p Dear friend 
         span.primary #{to},
      p Thank you for your registration on our website.
      p We need to verify that you are people and need to authenticate your email. Please authenticate your registration on 
         span.primary AZRIN.DEV 
         | by clicking the url below to continue registration. Registration link is valid only for 24 hours. 
      .link
         a(href="#{uri}" target="blank") Authenticate Email
      

       
      