doctype html
html
   head
      meta(name='viewport', content='width=device-width')
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      style
         include email-style.css
      link(href='https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap' rel='stylesheet')
    
   body
      .header         
         h2 AZRIN.DEV
         h3 { top: sometime }
      .body
         block content
      .footer
         p Copyright (c) 2017, www.azrin.dev