<div class="lm__posts">
   <div class="lm__posts_list">
      <mat-list >
         <mat-list-item *ngFor="let post of posts">
            <mat-icon mat-list-icon>book</mat-icon>
            <h4 mat-line>Title</h4>
            <p mat-line>{{ post.title | titlecase }}</p>
         </mat-list-item>
         <mat-divider></mat-divider>
         <h3 mat-subheader>Notes</h3>
         <mat-list-item *ngFor="let note of notes">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>{{note.name}}</h4>
            <p mat-line> {{note.updated | date}} </p>
         </mat-list-item>
      </mat-list>
   </div>
</div>
