<mat-form-field>
   <mat-chip-list #chipList aria-label="Post selection">
      <mat-chip *ngFor="let category of categories" [selectable]="selectable"
         [removable]="removable" (removed)="remove(category)" 
         color="primary" selected  >
         {{ category | titlecase }}
         <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Select, add or remove category"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
      
   </mat-chip-list>
   <mat-hint>Categories: Add a new category followed by a comma</mat-hint>
</mat-form-field>
