@mixin mat-card-settings($name){

   $dark: #303030;
   $dark-dark-bg: #262626;
   $primary: #fe4365;

   #{$name}{
      width: 100%;
      height: 100%;
      box-sizing: border-box !important;  
      background-color: $dark-dark-bg !important;

      &-title{
         font-size: 1.5rem !important;
         color: $primary;
      }
    
      &-content{
         width: 100% !important;
         height: 100% !important;
         box-sizing: border-box !important;
      }
   }

}