// Material Theming
@import '~@angular/material/theming';
@import '../themes/custom-palletes';
//@import '../themes/pink-style';
@import './_red-style';


// Custom SA Theming
// @import './sa-theming';
// @import './_gold-style';

// ANGULAR MATERIAL THEME
@include mat-core();
$custom-theme-primary: mat-palette($mat-custom-pink);
$custom-theme-accent:  mat-palette($mat-custom-green, 400, 400, A400);
$custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent);
@include angular-material-theme($custom-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Lato, Oswald',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);

// THEME-red
$primary: mat-palette($mat-red);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$red-theme:   mat-dark-theme($primary, $accent);
@include mixin-red-style($red-theme);

// CUSTOM THEME
// THEME-gold
// $primary: mat-palette($mat-gold);
// $accent:  mat-palette($mat-pink, A200, A100, A400);
// $gold-theme:   mat-dark-theme($primary, $accent);
// @include mixin-gold-style($gold-theme);

