@mixin shadow-settings($name){

   
  .#{$name}{

      &__png-ac{

         &-left{
            -moz-filter: drop-shadow(-10px 10px 5px rgba(0,0,0,0.6));
            -webkit-filter: drop-shadow(-10px 10px 5px rgba(0,0,0,0.6));
            -ms-filter: drop-shadow(-10px 10px 5px rgba(0,0,0,0.6));
            -o-filter: drop-shadow(-10px 10px 5px rgba(0,0,0,0.6));
            filter: drop-shadow(-10px 10px 5px rgba(0,0,0,0.6));
         }

         &-right{
            -moz-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
            -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
            -ms-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
            -o-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
            filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
         }
      }

      &__text{

         &-center{
            -moz-filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.6));
            -webkit-filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.6));
            -ms-filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.6));
            -o-filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.6));
            filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.6));
         }

         &-left{
            -moz-filter: drop-shadow(-5px 5px 5px rgba(0,0,0,0.6));
            -webkit-filter: drop-shadow(-5px 5px 5px rgba(0,0,0,0.6));
            -ms-filter: drop-shadow(-5px 5px 5px rgba(0,0,0,0.6));
            -o-filter: drop-shadow(-5px 5px 5px rgba(0,0,0,0.6));
            filter: drop-shadow(-5px 5px 5px rgba(0,0,0,0.6));
         }

         &-right{
            -moz-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
            -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
            -ms-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
            -o-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
            filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
         }
      }
  }

}