<div class="lm__posts">
   <div class="lm__posts_list" fxLayout="column" fLayoutAlign="center center">
      <mat-list fxFlex="80%">
         <mat-list-item *ngFor="let post of posts">
            <mat-icon mat-list-icon>book</mat-icon>
            <h4 mat-line>{{ post.title | titlecase }}</h4>
            <p mat-line>{{ post.subtitle | titlecase }}</p>
            <button class="lm__posts-list-icon" mat-icon-button color="accent" matTooltip="Edit Post" routerLink="/admin/posts/post/edit/{{ post._id }}"><mat-icon>edit</mat-icon></button>
            <button class="lm__posts-list-icon" mat-icon-button color="warn" matTooltip="Delete Post"><mat-icon>delete</mat-icon></button>
            <mat-divider></mat-divider>
         </mat-list-item>
      </mat-list>
   </div>
</div>
