.profile{ 
   margin-bottom: 5vh;
}

.timeline{
   min-height: 400px;
   height: 87vh;  
   padding: 7px 5px 20px 5px; 
}

.sidebar{
   top: 3px;
   position: sticky;
   position: -webkit-sticky; 
   padding: 5px 7px 5px 5px;   
}
