.profile{ 
   margin-bottom: 2vh;
}

.timeline{
   min-height: 400px;
   height: 87vh;  
   padding:  0 7px 0 5px;  // 7px 5px 20px 5px; 
}

.sidebar{
   position: sticky;
   position: -webkit-sticky; 
   padding: 0 7px 0 5px;   
}
