<div *ngIf="loading" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
      Loading ...
</div>

<div *ngIf="!loading"> 

   <div fxLayout="column" fxLayoutAlign="center center">

      <div class="lm__text-subtitle" *ngIf="!visitor.image">
         Now choose your Avatar ...
      </div>

      <div>   
         <form [formGroup]="formAvatarGroup">

            <mat-tab-group color="primary">
               <mat-tab class="lm__tab" label="Man">   
                  <mat-radio-group aria-label="Select an option" 
                     formControlName="image" 
                     (change)="updateVisitor()"
                  >                                        
                     <div  class="lm__avatar-ls"  fxLayout="row wrap" fxLayoutAlign="center center">
                        <div fxFlex="33" fxFlex.lt-md="50" class="lm__avatar-container" fxLayout="column" fxLayoutAlign="center center" *ngFor="let avatar of avatars.boys">
                           <div @imageEnterDrop *ngIf="avatar === avatarName; else elseImage">
                              <img class="lm__avatar-ls-image mat-elevation-z8" src="assets/images/{{ avatar }}.png">
                           </div>
                           <ng-template #elseImage>
                              <img (mouseenter)="mouseEnterImage(avatar)" class="lm__avatar-ls-image mat-elevation-z8" src="assets/images/{{ avatar }}.png">
                           </ng-template>  
                           <mat-radio-button value="{{ avatar }}">{{ avatar | slice:8 }}</mat-radio-button>
                        </div>  
                     </div>       

                  </mat-radio-group>
               </mat-tab>

               <mat-tab class="lm__tab" label="Woman">   
                  <mat-radio-group aria-label="Select an option" 
                     formControlName="image" 
                     (change)="updateVisitor()"
                  > 
                     <div  class="lm__avatar-ls"  fxLayout="row wrap" fxLayoutAlign="center center">
                        <div fxFlex="33" fxFlex.xs="50" class="lm__avatar-container" fxLayout="column" fxLayoutAlign="center center" *ngFor="let avatar of avatars.girls">
                           <div @imageEnterDrop *ngIf="avatar === avatarName; else elseImage">
                              <img class="lm__avatar-ls-image mat-elevation-z8" src="assets/images/{{ avatar }}.png">
                           </div>
                           <ng-template #elseImage>
                              <img (mouseenter)="mouseEnterImage(avatar)" class="lm__avatar-ls-image mat-elevation-z8" src="assets/images/{{ avatar }}.png">
                           </ng-template>  
                           <mat-radio-button value="{{ avatar }}">{{ avatar | slice:8 }}</mat-radio-button>
                        </div>  
                     </div>                      
                  </mat-radio-group>
               </mat-tab>
            
            </mat-tab-group>
         </form>
      </div>
   
   </div>

</div>
