
$white:#fff;
$off-white:#ffffff2c;
$primary: #fe4365;
$primary-light: #fc9d9a;
$accent: #ff8943;
$accent-light: #ff884373;
$warn: #f44336;
$dark-bg: #303030;
$dark-bglight: #424242;

.ngm{

   &__span{

      &-italic{
         font-style: italic;
         color: $accent;
      }  
      
      &-align-left{
         text-align: left;
      }

      &-align-center{
         text-align: center;
      }
   }

   &__strong{
      color: $accent;
   }

   &__content{
      
      background-color: $dark-bglight;
      margin: 10px;     
   }

   &__content:focus{
      outline: 1px solid $off-white; 
   }

}