<div  class="lm__post-container-bg-light"
      fxLayout="column"
      fxLayoutAlign="center center"  
>
   <div  class="lm__post-card"
         *ngIf="post"         
   >

      <mat-card   class="shadow__png-ac-right" 
                  fxFlex="60vw"
                  fxFlex.xs="100"
      >   
         
         <!-- Owner  -->
         <div class="lm__post-card-header" fxLayout="row" fxLayoutAlign="start">
            <div fxFlex="5" fxFlexAlign="start">
               <!-- Profile Image -->
               <img mat-card-avatar id="{{ post.image }}" class="lm__avatar" src="assets/images/uploads/{{ post.owner.image }}" >
            </div>
            <div class="lm__profile-info" fxFlexAlign="start">    
               <!-- Profile Name  -->
               <mat-card-title class="lm__profile-title">
                  <a class="lm__a" matTooltip="Go to this user profile"
                     routerLink="user/profile/{{ post.owner.name }}/{{ post.owner.id }}"
                  >                  
                     {{ post.owner.name | titlecase }}
                  </a>
               </mat-card-title>                                   
               <!-- Profile Motto -->
               <mat-card-subtitle class="lm__post-card-owner-subtitle">
                  "{{ post.owner.country | titlecase | slice:0:50 }}"
                  <br>
                  <!-- Post Date  -->
                  <em>Posted on: {{ post.created| date:'d/M/y, h:mm:ss a' }}</em> 
               </mat-card-subtitle>
            </div>
         </div>

         <!-- Card Image  -->
         <div  id="{{ post.image }}"
               *ngIf="post.image ? true : elseBlock"                                 
         >
            <img  mat-card-image                                      
                  class="" 
                  src="assets/images/uploads/{{ post.image }}" 
                  alt="{{ post.image | titlecase }}"                  
            >                                      
         </div> 
         <ng-template #elseBlock >
            <div id="{{ post.image }}" 
               *ngIf="post.image"
            >
               <img mat-card-image  
                  src="{{ post.image }}" 
                  alt="{{ post.image | titlecase }}"               
               > 
            </div>
         </ng-template> 

         <!-- Post Title  -->
         <mat-card-title class="lm__post-card-title shadow__text-right" color="primary">
            {{ post.title | titlecase }}
         </mat-card-title>

         <!-- Post Subtitle  -->
         <mat-card-subtitle class="lm__post-card-subtitle shadow__text-right" color="accent">
            {{ post.subtitle | titlecase }}
         </mat-card-subtitle>
       
         <mat-card-content class="lm__post-card-content">

            <!-- Post Categories  -->
            <div class="lm__post-card-categories" fxLayout="row wrap" fxLayoutAlign="start center">
               <span class="lm__post-chip-categories">Categories: </span>
               <mat-chip-list>
                  <mat-chip 
                     *ngFor="let chip of post.categories" 
                     color="primary" 
                     selected
                     routerLink="/post/tags/tag/{{ chip.categories | lowercase }}"
                     matTooltip="Go to this Category"
                  >
                     {{ chip | titlecase }}
                  </mat-chip>
               </mat-chip-list>
            </div>

            <!-- Contents  -->
            <div id="{{ post.id }}">                                             
               
               <!-- Post Content  -->
               <div class="lm__post-card-content lm__text-capitalize">          
                  {{ post.content }} 
               </div>     
               
               <!-- Post Tags  -->
               <div class="lm__mat-chip" fxLayout fxLayoutAlign="start center">
                  <span class="lm__post-chip-categories">Tags: </span>
                  <mat-chip-list>
                     <mat-chip class="lm__mat-chip-list" 
                        *ngFor="let tag of post.tags" 
                        color="accent" 
                        selected
                        routerLink="/post/tags/tag/{{ tag.tags | lowercase }}"
                        matTooltip="Go to this tag"
                     >
                        {{ tag | titlecase }}
                     </mat-chip>
                  </mat-chip-list>
               </div>

               <div class="lm__post-divider">
                  <mat-divider></mat-divider>
               </div>

               <!-- Post Social -->
               <div class="lm__post-card-social" fxLayout="row" fxLayoutAlign="center center"> 

                  <!-- Liked  -->
                  <div class="lm__icon-badge">
                     <mat-icon matBadge="{{ post.vote.length }}"             
                        matBadgeColor="accent"
                        matTooltip="Like Post"
                        (click)="likePost($event)"
                     >
                        thumb_up
                     </mat-icon>
                  </div>

                  <!-- Post Shared  -->
                  <div class="lm__icon-badge">
                     <mat-icon matBadge="{{ post.shared }}"             
                        matBadgeColor="accent"
                        matTooltip="Share Post"
                     >
                        share
                     </mat-icon>
                  </div>

                  <!-- Post Comment  -->
                  <div class="lm__icon-badge">
                     <mat-icon   matBadge="{{ post.comments.length }}" 
                                 matBadgeColor="accent"
                                 matTooltip="Comment Post"
                                 (click)="commentPost($event)"
                     >
                        comment
                     </mat-icon>
                  </div>
                  
               </div> 

               <div  class="lm__post-card-comment-form" 
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxLayoutGap="20px"
               >
                  <mat-form-field>
                     <textarea   matInput 
                                 cols="80" 
                                 rows="1" 
                                 placeholder="Say something here .."
                                 controlName="commentCtrl"                                 
                     >
                     </textarea>
                  </mat-form-field>
                  <button  mat-mini-fab 
                           color="primary"
                           fxLayout
                           fxLayoutAlign="center center"
                           matTooltip="Submit Comment"
                           (click)="submitComment()"
                  >
                     <mat-icon class="lm__post-comment-button-icon">
                        send
                     </mat-icon>
                  </button>
               </div>

            </div>
         </mat-card-content>

      </mat-card>

   </div>  
</div>
