$white: #ffffff;
$primary: #fe4365;

.container{
   height: 2px;
   background-color: $primary;
}

.footer{
   bottom: 0;
   z-index: 10;
   position: fixed;
   font-size: 1rem;
   height: 40px;
   color: $primary;
   

   &__text{
      padding: 0 10px 0 10px;
   }

   &__icon{
      padding-top: 10px;
      color: $white;
   } 
   
   
}

.footer:hover{
   transform: scale(1.2, 1.2);
}