.footer{
   bottom: 0;
   z-index: 10;
   position: fixed;
   font-size: 1rem;
   height: 40px;
   color: #fe4365;

   &__text{
      padding: 0 10px 0 10px;
   }

   &__icon{
      padding-top: 10px;
      color: #fff;
   }
}