@mixin mat-card-settings($name){

   $dark: #303030;

   #{$name}{
      width: 100%;
      height: 100%;
      box-sizing: border-box;  

      &-title{
         font-size: 1.5rem !important;
      }
    
      &-content{
         width: 100%;
         height: 100%;
         box-sizing: border-box;         
      }

      &-content:focus{
         width: 100%;
         height: 100%;
         box-sizing: border-box; 
         outline-color: rgb(194, 189, 189);
      }
   }

}