<form [formGroup]="formHandphoneProfile">

   <div class="lm__handphone-container" fxLayout="row" fxLayoutAlign="start center">

      <!-- Country -->
      <mat-form-field fxFlex.gt-xs="30">
         <input matInput 
            placeholder="{{ profile.country || 'Country' | titlecase }} ( + {{ profile.phoneCode || 'Country code' }} )"
            formControlName="country"
            (keyup)="getCountry()"
            [matAutocomplete]="country"
            (keyup.enter)="updateProfile({ _id: profile._id, phoneCode: countryCtrl.value, type: 'number' })"  
         > 
         <mat-icon matSuffix [color]="countryCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
         <mat-hint *ngIf="countryCtrl.pristine">Key in your country. <br>Example: "<span class="lm__text-primary">Italy</span>"</mat-hint>  
         <mat-hint *ngIf="!countryCtrl.pristine && countryCtrl.value">Press <span class="lm__text-primary">Enter</span> to submit</mat-hint>
         <mat-error *ngIf="countryCtrl.invalid">
            Please key in minimum {{ countryCtrl.errors.minlength.requiredLength }} characters.
         </mat-error>
      </mat-form-field>
      <mat-autocomplete #country="matAutocomplete">
         <mat-option *ngFor="let option of countriesData" [value]="option.phonecode">
            {{ option.name }} (+ {{ option.phonecode }} )
         </mat-option>
      </mat-autocomplete>

   </div>

</form>