<form [formGroup]="formHandphoneProfile">

   <div class="lm__handphone-container" fxLayout="row" fxLayoutAlign="start center">

      <!-- Country -->
      <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
         <input matInput 
            placeholder="{{ profile.country || 'Country' | titlecase }}"
            formControlName="country"
            (keyup)="getCountry()"
            (keyup.enter)="updateProfile({ _id: profile._id, country: countryCtrl.value, type: 'string' })" 
            [matAutocomplete]="country"
         >   
         <mat-icon matSuffix [color]="countryCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
         <mat-hint *ngIf="countryCtrl.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
         <mat-hint *ngIf="!countryCtrl.pristine && countryCtrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>                     
         <mat-error *ngIf="countryCtrl.hasError('minlength')">
            Please key in minimum of <strong>{{ countryCtrl.errors.minlength.requiredLength }}</strong> characters.
         </mat-error >
      </mat-form-field>
      <mat-autocomplete #country="matAutocomplete">
         <mat-option *ngFor="let option of countriesData" [value]="option.name">
            {{ option.name }}
         </mat-option>
      </mat-autocomplete>

   </div>

</form>