<form [formGroup]="formHandphoneProfile">

   <div class="lm__handphone-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10px">

      <!-- Country Code -->
      <mat-form-field fxFlex.gt-xs="30">
         <input matInput 
            placeholder="{{ profile.country || 'Country' | titlecase }} ( + {{ profile.phoneCode || 'Country code' }} )"
            formControlName="country"
            (keyup)="getCountry()"
            [matAutocomplete]="country"
            (keyup.enter)="updateProfile({ _id: profile._id, phoneCode: countryCtrl.value, type: 'number' })"  
         > 
         <mat-icon matSuffix [color]="countryCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
         <mat-hint *ngIf="countryCtrl.pristine">Key in your country. <br>Example: "<span class="lm__text-primary">Italy</span>"</mat-hint>  
         <mat-hint *ngIf="!countryCtrl.pristine && countryCtrl.value">Press <span class="lm__text-primary">Enter</span> to submit</mat-hint>
         <mat-error *ngIf="countryCtrl.invalid">
            Please key in minimum {{ countryCtrl.errors.minlength.requiredLength }} characters.
         </mat-error>
      </mat-form-field>
      <mat-autocomplete #country="matAutocomplete">
         <mat-option *ngFor="let option of countriesData" [value]="option.phonecode">
            {{ option.name }} (+ {{ option.phonecode }} )
         </mat-option>
      </mat-autocomplete>

      <!-- Handphone No -->
      <mat-form-field fxFlex.gt-xs="70">
         <input matInput 
            placeholder="{{ profile.handphone || 'Handphone' }}"
            formControlName="handphone"
            (keyup.enter)="updateProfile({ _id: profile._id, handphone: handphoneCtrl.value, type: 'number' })"  
         > 
         <mat-icon matSuffix [color]="handphoneCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
         <mat-hint *ngIf="handphoneCtrl.pristine">Key in your handphone. <br>Example: "<span class="lm__text-primary">11 1111 1111</span>"</mat-hint>  
         <mat-hint *ngIf="!handphoneCtrl.pristine && handphoneCtrl.value">Press <span class="lm__text-primary">Enter</span> to submit</mat-hint>
         <mat-error *ngIf="handphoneCtrl.errors.minlength">
            Please key in minimum {{ handphoneCtrl.errors.minlength.requiredLength }} characters.
         </mat-error>
         <!-- <mat-error *ngIf="handphoneCtrl.errors.maxlength.requiredLength">
            Please key in maximum {{ handphoneCtrl.errors.maxlength.requiredLength }} characters.
         </mat-error> -->
      </mat-form-field>

   </div>

</form>