<form [formGroup]="formHandphoneProfile">

   <div class="lm__handphone-container" fxLayout="row" fxLayoutAlign="start center">

      <!-- Label -->
      <mat-form-field>
         <input matInput 
            placeholder="Handphone:"
            formControlName="label"
         > 
      </mat-form-field>

      <!-- Country -->
      <mat-form-field>
         <input matInput 
            placeholder="{{ profile.country || 'Country' | titlecase }} (+{{ profile.phoneCode || ''}})"
            formControlName="country"
            (keyup)="getCountry()"
            [matAutocomplete]="country"
         >   
         <mat-icon matSuffix [color]="countryCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
         <mat-hint *ngIf="countryCtrl.pristine">Key in your country. Example: "Italy"</mat-hint>  
         <mat-hint *ngIf="!countryCtrl.pristine && countryCtrl.value">Press <span class="lm__text-primary">Enter</span> to submit</mat-hint>
         <mat-error *ngIf="countryCtrl.errors.minlength">
            Please key in minimum {{ countryCtrl.errors.minlength.requiredLength }} characters.
         </mat-error>
      </mat-form-field>
      <mat-autocomplete #country="matAutocomplete">
         <mat-option *ngFor="let option of countriesData" [value]="option.phonecode">
            {{ option.name }} (+ {{ option.phonecode }} )
         </mat-option>
      </mat-autocomplete>

   </div>

</form>