<div  class="lm__page-min100vh-auto" 
      fxLayout="column"
      fxLayoutAlign=" center"
>
   <div class="lm__container">
      <div  class="lm__text-intro" 
            fxFlexAlign="start"
            @banner1Enter
            (@banner1Enter.done)="banner1Done($event)"
      >
         <div class="shadow__text-right banner1-enter"  
         >
            Thank you for making the ...
         </div>
      </div>
      <div  class="lm__text-intro" 
            fxFlexAlign="start"
            @banner2Enter
            *ngIf="banner1AnimationDone"
            (@banner2Enter.done)="banner2Done($event)"
      >
         <div class="lm__text-intro-accent shadow__text-right banner2-enter">
            right choice in visiting ...
         </div>
      </div>

      <div  class="lm__img-intro"
            fxLayout="column"    
            fxLayoutAlign="center center"  
            
      >
         <div  class="banner3"
               fxLayout="column"    
               fxLayoutAlign="center center" 
               *ngIf="banner2AnimationDone"
               @banner3Enter   
               (@banner3Enter.done)="banner3Done($event)"
         >
            <img  class="lm__img-profile shadow__png-ac-right banner3-enter" 
                  src="assets/images/azrin.jpg" 
                  alt="Azrin Amin"

            >
         </div>
         <div  class="banner4"
               *ngIf="banner3AnimationDone"
               @banner4Enter   
               (@banner4Enter.done)="banner4Done($event)"
         >
            <img  class="lm__img-logo shadow__png-ac-right banner4-enter"
                  src="assets/images/logo_pink.png" 
                  alt="Azrin Amin Logo"
            >
         </div>
      
         <div  *ngIf="banner4AnimationDone"
               @banner5Enter  
         >
            <div  class="lm__text-intro-subtitle shadow__text-right banner5-enter">
               Freelance Consultant
            </div>      
         </div>
      
      </div>
   </div>

</div>
