<mat-sidenav-container class="sidenav-container">
   <mat-sidenav #drawer class="sidenav" fixedInViewport
         [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
         [mode]="(isHandset$ | async) ? 'over' : 'side'"
         [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
         <div class="toolbar" fxLayout="row">
            <div class="toolbar__title">
               Menu
            </div>
            <div class="toolbar__arrow" *ngIf="opened" fxFlexAlign="end">
               <mat-icon color="primary">chevron_left</mat-icon>
            </div>
            <div class="toolbar__arrow" *ngIf="!opened" fxFlexAlign="end">
               <mat-icon color="primary">chevron_right</mat-icon>
            </div>
         </div>
      
      </mat-toolbar>
      <mat-nav-list>
         <a mat-list-item href="#">Link 1</a>
         <a mat-list-item href="#">Link 2</a>
         <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
      
      <div class="lm__container-100p">
         <!-- Add Content Here -->
         <router-outlet></router-outlet>
      </div>

   </mat-sidenav-content>
</mat-sidenav-container>
