<div class="lm__container-light-bg">

      <div class="lm__cards">
   
         <div class="lm__cards-title mat-elevation-z8">
            WHAT I DO
         </div>
   
         <div class="lm__cards-container mat-elevation-z8" 
               fxLayout="row wrap"
               fxLayoutAlign="space-evenly center"
               fxLayoutGap="10px"
         >

            <div class="lm__page-timeline">
               <div class="posts" *ngFor="let row of posts" >
                  <div [@xEnter]="postsExist">
                     <mat-card  fxLayout="column" class="lm__card timeline__card x-enter">   
                        
                        <!-- Owner  -->
                        <div class="lm__posts-card-header" fxLayout="row" fxLayoutAlign="start">
                           <div fxFlex="5" fxFlexAlign="start">
                              <!-- Profile Image -->
                              <img mat-card-avatar id="{{ row.image }}" class="lm__avatar" src="assets/images/uploads/{{ row.owner.image }}" >
                           </div>
                           <div fxFlex="auto" fxFlexAlign="start">    
                              <!-- Profile Name  -->
                              <mat-card-title class="lm__profile-title">
                                 <a class="lm__a" matTooltip="Go to this user profile"
                                    routerLink="user/profile/{{ row.owner.name }}/{{ row.owner.id }}"
                                 >                  
                                    {{ row.owner.name | titlecase }}
                                 </a>
                              </mat-card-title>                                   
                              <!-- Profile Motto -->
                              <mat-card-subtitle>
                                 "{{ row.owner.country | titlecase | slice:0:50 }}"
                                 <br>
                                 <!-- Post Date  -->
                                 <em>Posted on: {{ row.created| date:'d/M/y, h:mm:ss a' }}</em> 
                              </mat-card-subtitle>
                           </div>
                        </div>
            
                        <!-- Card Image  -->
                        <div  id="{{ row.image }}"
                              @imageEnter
                              *ngIf="row.image ? true : elseBlock"                                 
                        >
                           <img mat-card-image                                      
                              class="image-enter lm__card-image" 
                              src="assets/images/uploads/{{ row.image }}" 
                              alt="{{ row.image | titlecase }}" 
                              (mouseout)="mouseLeaveImage($event)"                  
                           >                                      
                        </div> 
                        <ng-template #elseBlock >
                           <div id="{{ row.image }}" 
                              *ngIf="row.image"
                              (mouseenter)="mouseEnterImage($event)" 
                           >
                              <img mat-card-image  
                                 src="{{ row.image }}" 
                                 alt="{{ row.image | titlecase }}"               
                              > 
                           </div>
                        </ng-template> 
            
                        <!-- Contents  -->
                        <div id="{{ row.id }}" (mouseenter)="mouseEnterCard($event)" >                  
            
                           <!-- Post Social -->
                           <mat-card-content>
                              <div class="lm__icons" fxLayout="row" fxLayoutAlign="center center"> 
            
                                 <!-- Liked  -->
                                 <div class="lm__icon-badge">
                                    <mat-icon matBadge="{{ row.vote.length }}"             
                                       matBadgeColor="accent"
                                       matTooltip="Like and Dislike"
                                    >
                                       thumbs_up_down
                                    </mat-icon>
                                 </div>
            
                                 <!-- Post Shared  -->
                                 <div class="lm__icon-badge">
                                    <mat-icon matBadge="{{ row.shared }}"             
                                       matBadgeColor="accent"
                                       matTooltip="Shared"
                                    >
                                       share
                                    </mat-icon>
                                 </div>
            
                                 <!-- Post Comment  -->
                                 <div class="lm__icon-badge">
                                    <mat-icon matBadge="{{ row.comments.length }}" 
                                       matBadgeColor="accent"
                                       matTooltip="Comments"
                                    >
                                       comment
                                    </mat-icon>
                                 </div>
                                 
                              </div>
                           </mat-card-content>
            
                           <!-- Post Categories  -->
                           <mat-card-content>
                              <div class="lm__mat-chip" fxLayout="row wrap" fxLayoutAlign="start center">
                                 <span class="lm__post-chip-categories">Categories: </span>
                                 <mat-chip-list>
                                    <mat-chip 
                                       *ngFor="let chip of row.categories" 
                                       color="primary" 
                                       selected
                                       routerLink="/posts/tags/tag/{{ chip.categories | lowercase }}"
                                       matTooltip="Go to this Category"
                                    >
                                       {{ chip | titlecase }}
                                    </mat-chip>
                                 </mat-chip-list>
                              </div>
                           </mat-card-content>
            
                           <!-- Post Title  -->
                           <mat-card-title color="primary" class="lm__a-primary">
                              <a [@xEnter]="postsExist" class="lm__a" matTooltip="Go to this post"
                                 routerLink="{{ row.slug }}"
                              >
                                 {{ row.title | titlecase }}
                              </a>
                           </mat-card-title>                  
                           
                           <!-- Post Subtitle  -->
                           <mat-card-subtitle>{{ row.subtitle | titlecase }}</mat-card-subtitle>
                           
                           <!-- Post Content  -->
                           <mat-card-content>                
                              {{ row.content | slice:0:200 }} ...
                              <button  class="lm__a-button" 
                                       mat-button color="accent" 
                                       routerLink="/post/{{ row.owner.name }}/{{ row.id }}/{{ row.title }}"
                              >
                                 Read More
                              </button>
                           </mat-card-content>
                           
                           <!-- Post Tags  -->
                           <mat-card-content>
                              <div class="lm__mat-chip" fxLayout fxLayoutAlign="start center">
                                 <span class="lm__post-chip-categories">Tags: </span>
                                 <mat-chip-list>
                                    <mat-chip class="lm__mat-chip-list" 
                                       *ngFor="let tag of row.tags" 
                                       color="accent" 
                                       selected
                                       routerLink="/posts/tags/tag/{{ tag.tags | lowercase }}"
                                       matTooltip="Go to this tag"
                                    >
                                       {{ tag | titlecase }}
                                    </mat-chip>
                                 </mat-chip-list>
                              </div>
                           </mat-card-content>
                           
                           <!-- Post Link  -->
                           <mat-card-actions>
                              <div class="lm__card-actions" 
                                 fxLayout="row"                    
                                 fxLayoutAlign="center center" 
                                 @iconButtonEnter 
                                 *ngIf="postId === row.id"     
                              >
                                 <button class="lm__card-button x-button-enter" 
                                    mat-raised-button color="primary"
                                    matTooltip="Go to this post"
                                    routerLink="/post/{{ row.owner.name }}/{{ row.id }}/{{ row.title }}"
                                 >
                                    <mat-icon class="y-icon-enter">touch_app</mat-icon>
                                    Read More
                                 </button>
                              </div>
                           </mat-card-actions>
                        </div> 
            
                     </mat-card>
                  </div>
               </div>
            </div>
   
      </div>
   </div>