<form [formGroup]="formPersonalProfile">
   
   <!-- Email -->
   <mat-form-field class="lm__form-field"  fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <input matInput type="email"
         placeholder="Email: {{ profile.email || '' | lowercase }}" 
         formControlName="email"                
         (keyup.enter)="updateProfile({ email: emailCtrl.value })"             
      >
      <mat-icon matSuffix color="primary">lock</mat-icon>         
      <mat-hint *ngIf="emailCtrl.pristine">Email can not be changed. Please contact system Admin for help.</mat-hint>
      <mat-hint *ngIf="!emailCtrl.pristine && emailCtrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
      <mat-error *ngIf="emailCtrl.hasError('email')">
         Please key in a valid email. <br>
         Example: <strong>john@mail.com</strong>
      </mat-error >
   </mat-form-field>         

   <!-- Name -->
   <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <input matInput 
         placeholder="Name: {{ profile.name || '' | titlecase }}"
         formControlName="name"
         (keyup.enter)="updateProfile({ _id: profile._id, name: nameCtrl.value, type: 'string' })" 
      >   
      <mat-icon matSuffix [color]="nameCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
      <mat-hint *ngIf="nameCtrl.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
      <mat-hint *ngIf="!nameCtrl.pristine && nameCtrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>                     
      <mat-error *ngIf="nameCtrl.hasError('minlength')">
         Please key in a valid name. <br>
         Example: <strong>John Alexander</strong>
      </mat-error >
   </mat-form-field>       

   <!-- Birthday -->
   <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <input matInput [matDatepicker]="picker" 
         placeholder="Birtday: {{ profile.birthday || '' | date }}" 
         formControlName="birthday"
         (keyup.enter)="updateProfile({ _id: profile._id, birthday: birthdayCtrl.value, type: 'date' })" 
      >
      <mat-datepicker-toggle matSuffix [for]="picker">
         <mat-icon matDatepickerToggleIcon [color]="birthdayCtrl.touched ? 'warn': 'primary'">today</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint *ngIf="birthdayCtrl.pristine">Click on the <mat-icon color="primary" inline="true">today</mat-icon> icon to edit.</mat-hint>
      <mat-hint *ngIf="!birthdayCtrl.pristine">Press <strong 
         class="lm__hint-warn"
         >Enter</strong> to submit.
      </mat-hint>
   </mat-form-field> 

</form>