<form [formGroup]="formAddressProfile">         

   <!-- Address -->
   <!-- <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <input matInput 
         placeholder="{{ profile.address || 'Address' | titlecase }}"
         formControlName="address"
         (keyup.enter)="updateProfile({ _id: profile._id, address: addressCtrl.value, type: 'string' })" 
      >   
      <mat-icon matSuffix [color]="addressCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
      <mat-hint *ngIf="addressCtrl.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
      <mat-hint *ngIf="!addressCtrl.pristine && addressCtrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>                     
      <mat-error *ngIf="addressCtrl.hasError('minlength')">
         Please key in a valid address. <br>
         Example: <strong>No 20, Red Apartment</strong>
      </mat-error >
   </mat-form-field>  -->
   
   <!-- Address 2 -->
   <!-- <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <input matInput 
         placeholder="{{ profile.address2 || 'Address 2' | titlecase }}"
         formControlName="address2"
         (keyup.enter)="updateProfile({ _id: profile._id, address2: address2Ctrl.value, type: 'string' })" 
      >   
      <mat-icon matSuffix [color]="address2Ctrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
      <mat-hint *ngIf="address2Ctrl.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
      <mat-hint *ngIf="!address2Ctrl.pristine && address2Ctrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>                     
      <mat-error *ngIf="address2Ctrl.hasError('minlength')">
         Please key in a valid address 2. <br>
         Example: <strong>Maple Street</strong>
      </mat-error >
   </mat-form-field>   -->

   <!-- Country -->
   <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <input matInput 
         placeholder="{{ profile.country || 'Country' | titlecase }}"
         formControlName="country"
         (keyup)="getCountry()"
         (keyup.enter)="updateProfile({ _id: profile._id, country: countryCtrl.value, type: 'string' })" 
         [matAutocomplete]="country"
      >   
      <mat-icon matSuffix [color]="countryCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
      <mat-hint *ngIf="countryCtrl.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
      <mat-hint *ngIf="!countryCtrl.pristine && countryCtrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>                     
      <mat-error *ngIf="countryCtrl.hasError('minlength')">
         Please key in minimum of <strong>{{ countryCtrl.errors.minlength.requiredLength }}</strong> characters.
      </mat-error >
   </mat-form-field>
   <mat-autocomplete #country="matAutocomplete">
      <mat-option *ngFor="let option of countriesData" [value]="option.name">
         {{ option.name.common }}
      </mat-option>
   </mat-autocomplete>

</form>
