<mat-accordion class="lm__accordion">
   <mat-expansion-panel #panelOpen [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

      <mat-expansion-panel-header class="mat-elevation-z8" ngClass="{
         'lm__text-primary': panelOpen.expanded 
      }">         
            <mat-panel-title >
               Personal Information 
            </mat-panel-title>
            <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
               Update your personal Information
               <mat-icon [color]="panelOpen.expanded ? 'accent' : 'primary'">account_circle</mat-icon>
            </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
         <input matInput type="email"
            placeholder="Email: {{ profile.email || 'Email' }}" 
            [formControl]="email"                
            (keyup.enter)="updateProfile({ email: email.value })"             
         >
         <mat-icon matSuffix [color]="email.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>
         
         <mat-hint *ngIf="email.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
         <mat-hint *ngIf="!email.pristine && email.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>            

         <mat-error *ngIf="email.hasError('email')">
            Please key in a valid email. <br>
            Example: <strong>john@mail.com</strong>
         </mat-error >
      </mat-form-field>  

      <mat-action-row>
         <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>

   </mat-expansion-panel>
</mat-accordion>
    