<mat-accordion class="lm__accordion">

   <mat-expansion-panel #panelOpen [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

      <mat-expansion-panel-header class="mat-elevation-z8" 
         ngClass="{ 'lm__text-primary': panelOpen.expanded }"
      >         
            <mat-panel-title >
               Personal Information 
            </mat-panel-title>
            <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
               Update your personal Information 
               <mat-icon [color]="panelOpen.expanded ? 'accent' : 'primary'">account_circle</mat-icon>
            </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="formProfile">

         <!-- Email -->
         <mat-form-field class="lm__form-field"  fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput type="email"
               placeholder="{{ profile.email || 'Email' }}" 
               formControlName="email"                
               (keyup.enter)="updateProfile({ email: emailCtrl.value })"             
            >
            <mat-icon matSuffix color="primary">lock</mat-icon>         
            <mat-hint *ngIf="emailCtrl.pristine">Email can not be changed. Please contact system Admin for help.</mat-hint>
            <mat-hint *ngIf="!emailCtrl.pristine && emailCtrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
            <mat-error *ngIf="emailCtrl.hasError('email')">
               Please key in a valid email. <br>
               Example: <strong>john@mail.com</strong>
            </mat-error >
         </mat-form-field>         
         
         <!-- Name -->
         <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput 
               placeholder="{{ profile.name || 'Name' | titlecase }}"
               formControlName="name"
               (keyup.enter)="updateProfile({ _id: profile._id, name: nameCtrl.value, type: 'string' })" 
            >   
            <mat-icon matSuffix [color]="nameCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>  
            <mat-hint *ngIf="nameCtrl.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
            <mat-hint *ngIf="!nameCtrl.pristine && nameCtrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>                     
            <mat-error *ngIf="nameCtrl.hasError('minlength')">
               Please key in a valid name. <br>
               Example: <strong>John Alexander</strong>
            </mat-error >
         </mat-form-field>       

         <!-- Birthday -->
         <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput [matDatepicker]="picker" 
               placeholder="{{ profile.birthday || 'Your birth date' | date }}" 
               formControlName="birthday"
               (keyup.enter)="updateProfile({ _id: profile._id, birthday: birthdayCtrl.value, type: 'date' })" 
            >
            <mat-datepicker-toggle matSuffix [for]="picker">
               <mat-icon matDatepickerToggleIcon [color]="birthdayCtrl.touched ? 'warn': 'primary'">today</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="birthdayCtrl.pristine">Click on the <mat-icon color="primary" inline="true">today</mat-icon> icon to edit.</mat-hint>
            <mat-hint *ngIf="!birthdayCtrl.pristine">Press <strong 
               class="lm__hint-warn"
               >Enter</strong> to submit.
            </mat-hint>
         </mat-form-field> 
      
         <!-- Handphone -->
         <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput 
               placeholder="{{ profile.handphone || 'Handphone' }}" 
               formControlName="handphone"                
               (keyup.enter)="updateProfile({ _id: profile._id, handphone: handphoneCtrl.value, type: 'number' })"  
               type="number"           
            >
            <mat-icon matSuffix [color]="handphoneCtrl.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>         
            <mat-hint *ngIf="handphoneCtrl.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
            <mat-hint *ngIf="!handphoneCtrl.pristine && handphoneCtrl.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
            <mat-error *ngIf="handphoneCtrl.hasError('minlength')">
               Please key in a valid handphone without "+" sign. <br>
               Example: <strong>99 999 999 999 99</strong>
            </mat-error >
         </mat-form-field>  
      </form>

      <mat-action-row>
         <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
   </mat-expansion-panel>

</mat-accordion>

<mat-accordion class="lm__accordion">
   <mat-expansion-panel #secondPanelOpen [expanded]="step === 1" (opened)="setStep(1)" hideToggle>

      <mat-expansion-panel-header class="mat-elevation-z8" 
         ngClass="{ 'lm__text-primary': secondPanelOpen.expanded }"
      >         
         <mat-panel-title >
            Personal Avatar
         </mat-panel-title>
         <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
            Choose an Avatar
            <mat-icon [color]="secondPanelOpen.expanded ? 'accent' : 'primary'">face</mat-icon>
         </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-radio-group aria-label="Select an option" *ngFor="let avatar of avatars.boys">          
         <div class="lm__avatar-ls" fxLayout="row" fxLayoutAlign="center center" >
            <div fxFlex.gt-xs="50" fxFlex.xs="100" class="lm__avatar-container" fxLayout="column" fxLayoutAlign="center center">
               <img class="lm__avatar-ls-image mat-elevation-z8" src="assets/images/avatar/{{ avatar }}.png">
               <mat-radio-button value="{{ avatar }}">{{ avatar }}</mat-radio-button>
            </div>         
         </div>
      </mat-radio-group>
      <mat-action-row>
         <button mat-button color="accent" (click)="prevStep()">Previous</button>
         <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>

   </mat-expansion-panel>      
</mat-accordion>

<mat-accordion class="lm__accordion">
   <mat-expansion-panel #thirdPanelOpen [expanded]="step === 2" (opened)="setStep(2)" hideToggle>

      <mat-expansion-panel-header 
         class="mat-elevation-z8" 
         ngClass="{'lm__text-primary': thirdPanelOpen.expanded }"
      >         
            <mat-panel-title >
               Address Information 
            </mat-panel-title>
            <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
               Update your Address Information
               <mat-icon [color]="thirdPanelOpen.expanded ? 'accent' : 'primary'">contacts</mat-icon>
            </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Address
      <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
         <input matInput 
            placeholder="{{ profile.address || 'Address' }}" 
            [formControl]="address"                
            (keyup.enter)="updateProfile({ _id: profile.id, address: address.value, type: 'string' })"             
         >
         <mat-icon matSuffix [color]="address.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>         
         <mat-hint *ngIf="address.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
         <mat-hint *ngIf="!address.pristine && address.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
         <mat-error *ngIf="address.hasError('minlength')">
            Please key in a valid address, minimum <strong>{{ address.errors.minlength.requiredLength }}</strong> characters
         </mat-error >
      </mat-form-field>  -->

      <!-- Handphone 
      <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
         <input matInput 
            placeholder="{{ profile.handphone || 'Handphone' }}" 
            [formControl]="handphone"                
            (keyup.enter)="updateProfile({ handphone: handphone.value, type: 'number' })"  
            type="number"           
         >
         <mat-icon matSuffix [color]="handphone.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>         
         <mat-hint *ngIf="handphone.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
         <mat-hint *ngIf="!handphone.pristine && handphone.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
         <mat-error *ngIf="handphone.hasError('minlength')">
            Please key in a valid handphone without "+" sign. <br>
            Example: <strong>99 999 999 999 99</strong>
         </mat-error >
      </mat-form-field> 
      -->
      <mat-action-row>
         <button mat-button color="accent" (click)="prevStep()">Previous</button>
      </mat-action-row>
   </mat-expansion-panel>
</mat-accordion>


