<form [formGroup]="profileForm">
   <mat-accordion class="lm__accordion">

      <mat-expansion-panel #panelOpen [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

         <mat-expansion-panel-header class="mat-elevation-z8" 
            ngClass="{ 'lm__text-primary': panelOpen.expanded }"
         >         
               <mat-panel-title >
                  Personal Information 
               </mat-panel-title>
               <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
                  Update your personal Information
                  <mat-icon [color]="panelOpen.expanded ? 'accent' : 'primary'">account_circle</mat-icon>
               </mat-panel-description>
         </mat-expansion-panel-header>

         <!-- Email
         <mat-form-field class="lm__form-field"  fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput type="email"
               placeholder="{{ profile.email || 'Email' }}" 
               formControlName="email"                
               (keyup.enter)="updateProfile({ email: email.value })"             
            >
            <mat-icon matSuffix color="primary">lock</mat-icon>         
            <mat-hint *ngIf="email.pristine">Email can not be changed. Please contact system Admin for help.</mat-hint>
            <mat-hint *ngIf="!email.pristine && email.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
            <mat-error *ngIf="email.hasError('email')">
               Please key in a valid email. <br>
               Example: <strong>john@mail.com</strong>
            </mat-error >
         </mat-form-field>   -->

         <!-- Name -->
         <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill *ngIf="profile">
            <input matInput 
               placeholder="{{ profile.name }}"
               formControlName="name" 
               (keyup.enter)="updateProfile({ _id: profile.id, name: name.value(), type: 'string' })"                  
            >           
               {{ profile.name }}    
               <!-- placeholder="{{ profile.name || 'Name' | titlecase }}"  -->
            <mat-icon matSuffix [color]="profileForm.get('name').invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>         
            <mat-hint *ngIf="profileForm.get('name').pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
            <mat-hint *ngIf="!profileForm.get('name').pristine && profileForm.get('name').valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
            <mat-error *ngIf="profileForm.get('name').hasError('minlength')">
               Please key in a valid name. <br>
               Example: <strong>John Alexander</strong>
            </mat-error >
         </mat-form-field> 

         <!-- Birthday
         <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput [matDatepicker]="picker" 
               placeholder="Your birth date" 
               [formControl]="birthday"
               (keyup.enter)="updateProfile({ birthday: birthday.value, type: 'date' })" 
            >
            <mat-datepicker-toggle matSuffix [for]="picker">
               <mat-icon matDatepickerToggleIcon color="primary">today</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="birthday.pristine">Click on the <mat-icon color="primary" inline="true">today</mat-icon> icon to edit.</mat-hint>
            <mat-hint *ngIf="!birthday.pristine && birthday.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>
         </mat-form-field> -->

         <!-- Handphone
         <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput 
               placeholder="{{ profile.handphone || 'Handphone' }}" 
               [formControl]="handphone"                
               (keyup.enter)="updateProfile({ handphone: handphone.value, type: 'number' })"  
               type="number"           
            >
            <mat-icon matSuffix [color]="handphone.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>         
            <mat-hint *ngIf="handphone.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
            <mat-hint *ngIf="!handphone.pristine && handphone.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
            <mat-error *ngIf="handphone.hasError('minlength')">
               Please key in a valid handphone without "+" sign. <br>
               Example: <strong>99 999 999 999 99</strong>
            </mat-error >
         </mat-form-field>  -->

         <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
         </mat-action-row>
      </mat-expansion-panel>
   </mat-accordion>

   <mat-accordion class="lm__accordion">
      <mat-expansion-panel #secondPanelOpen [expanded]="step === 1" (opened)="setStep(1)" hideToggle>

         <mat-expansion-panel-header 
            class="mat-elevation-z8" 
            ngClass="{'lm__text-primary': secondPanelOpen.expanded }"
         >         
               <mat-panel-title >
                  Address Information 
               </mat-panel-title>
               <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
                  Update your Address Information
                  <mat-icon [color]="secondPanelOpen.expanded ? 'accent' : 'primary'">contacts</mat-icon>
               </mat-panel-description>
         </mat-expansion-panel-header>

         <!-- Address
         <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput 
               placeholder="{{ profile.address || 'Address' }}" 
               [formControl]="address"                
               (keyup.enter)="updateProfile({ _id: profile.id, address: address.value, type: 'string' })"             
            >
            <mat-icon matSuffix [color]="address.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>         
            <mat-hint *ngIf="address.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
            <mat-hint *ngIf="!address.pristine && address.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
            <mat-error *ngIf="address.hasError('minlength')">
               Please key in a valid address, minimum <strong>{{ address.errors.minlength.requiredLength }}</strong> characters
            </mat-error >
         </mat-form-field>  -->

         <!-- Handphone 
         <mat-form-field class="lm__form-field" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <input matInput 
               placeholder="{{ profile.handphone || 'Handphone' }}" 
               [formControl]="handphone"                
               (keyup.enter)="updateProfile({ handphone: handphone.value, type: 'number' })"  
               type="number"           
            >
            <mat-icon matSuffix [color]="handphone.invalid ? 'warn' : 'primary'" >mode_edit</mat-icon>         
            <mat-hint *ngIf="handphone.pristine">Click on the <mat-icon color="primary" inline="true">mode_edit</mat-icon> icon to edit.</mat-hint>
            <mat-hint *ngIf="!handphone.pristine && handphone.valid">Press <strong class="lm__hint-primary">Enter</strong> to submit.</mat-hint>         
            <mat-error *ngIf="handphone.hasError('minlength')">
               Please key in a valid handphone without "+" sign. <br>
               Example: <strong>99 999 999 999 99</strong>
            </mat-error >
         </mat-form-field> 
         -->
         <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
         </mat-action-row>
      </mat-expansion-panel>
   </mat-accordion>

</form>
    