<div class="lm__page-100vh" fxLayout="column" fxLayoutAlign="center center">

   <mat-card *ngIf="profile; else elseBlock">
      <mat-card-content>

         <mat-card>
            <mat-card-title class="lm__card-title" fxLayout="column" fxLayoutAlign="center center">
               Hello {{ profile.name || profile.email | titlecase }}
            </mat-card-title>   
            <mat-card-content>
               <div @imageEnterDrop *ngIf="enteredImage; else elseImage"
                  fxLayout="column" fxLayoutAlign="center center"
                  (mouseleave)="mouseLeaveImage($event)"
               >
                  <img class="lm__profile-image image-enter-drop mat-elevation-z8" src="assets/images/{{ profile.image || avatars/man }}.png" alt="{{ profile.name || profile.email }}">
               </div>

               <ng-template #elseImage>
                  <div fxLayout="column" fxLayoutAlign="center center"
                     (mouseenter)="mouseEnterImage($event)"
                  >
                     <img class="lm__profile-image image-enter-drop mat-elevation-z8" src="assets/images/{{ profile.image || avatars/man }}.png" alt="{{ profile.name || profile.email }}">
                  </div>
               </ng-template>               

               <div class="lm__card-tab">
                  <mat-tab-group>

                     <mat-tab label="Profile" *ngIf="!profile">
                        <app-login></app-login>
                     </mat-tab>

                     <mat-tab label="Profile" *ngIf="profile">
                        <app-accordion></app-accordion>
                     </mat-tab>

                     <mat-tab label="Latest News" >
                        News
                     </mat-tab>

                     <mat-tab label="Latest Posts">
                        Posts
                        <div class="posts" fxLayout="column">
                           <mat-list role="list">
                              <mat-list-item role="listitem" *ngFor="let row of posts">
                                 <a class="lm__a-small" matTooltip="Go to this post"
                                    routerLink="/post/{{ row.post.slug }}"
                                 >
                                    {{ row.post.title | titlecase }}
                                 </a>
                              </mat-list-item>
                           </mat-list> 
                        </div> 
                     </mat-tab>           

                  </mat-tab-group>
               </div>
                        
            </mat-card-content>
         </mat-card>
      
      </mat-card-content>
   </mat-card>

   <ng-template #elseBlock>
      <mat-card-content>

         <mat-card>

            <mat-card-title fxLayout="row" fxLayoutAlign="center center">            
               <span *ngIf="!visitor" class="lm__logo-2rem-text">Hello friend, welcome to </span> 
               <span *ngIf="visitor"  class="lm__logo-2rem-text">Hello {{ visitor.name }}, welcome to </span> 
               <app-logo2rem></app-logo2rem>
            </mat-card-title>
         
            <div @imageEnterDrop *ngIf="enteredImage; else elseImage"
               fxLayout="column" fxLayoutAlign="center center"
               (mouseleave)="mouseLeaveImage($event)"
            >
               <img class="lm__profile-image image-enter-drop mat-elevation-z8"  src="/assets/images/{{ visitor.image }}.png" alt="">
            </div>
            <ng-template #elseImage >
               <div *ngIf="visitor && visitor.image" fxLayout="column" fxLayoutAlign="center center" (mouseenter)="mouseEnterImage($event)">
                  <img class="lm__profile-image image-enter-drop mat-elevation-z8"  src="/assets/images/{{ visitor.image }}.png" alt="">
               </div>
            </ng-template>
         
            <mat-card-content>
         
               <div class="lm__card-tab">
                  <mat-tab-group>

                     <mat-tab label="Visitor" *ngIf="!visitor">
                        <app-visitor-form></app-visitor-form>
                     </mat-tab>

                     <mat-tab label="Avatars" *ngIf="visitor">
                        <app-visitor-avatar></app-visitor-avatar>
                     </mat-tab>
         
                     <mat-tab label="Login">
                        <app-login></app-login>
                     </mat-tab>
         
                     <mat-tab label="Register">
                        <app-register></app-register>
                     </mat-tab>           
         
                  </mat-tab-group>
               </div>
                        
            </mat-card-content>
            
         </mat-card>

      </mat-card-content>
   </ng-template>

</div>